#pg1{
    position: relative;
}
#pg1 h1 {font-size:24px;
    text-align:center;
}
#pg1 #cont {
    padding:20px 20px;
}
.apply-top-right{
    text-align:center;
    padding-top: 20px;
    position: absolute;
    top: 5px;
    right: 0;
}
.apply-top-right a{
            background-color: #F44336;
            padding: 5px;
            position: relative;
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            border: solid 1px #E91E63;
            border-radius: 5px;
            background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F44336), color-stop(1, #FF5722));
            margin-left: 20px;
            text-align: center;
            cursor: pointer;
            float: left;
        }
#myform .form-tips{
            padding: 20px;
        }
#myform .form-tips p{
            margin-bottom: 0;
            line-height: 30px;
        }
#pg1 #nextBtn{
    /*background-color: #3bb3e0;*/
	background-color: #ffffff;
    padding: 5px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #403c3c;
    border: solid 1px #c4cbce;
    /*border-radius: 5px;*/
    width:100px;
   /* background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(0,84,156)), color-stop(1, rgb(0,95,204)));*/
    text-align:center;
    cursor: pointer;
}
#pg1 .apply-btn{text-align: center;}
#pg1 .apply-btn  a{
    background-color: #ff3643;
    padding: 5px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: solid 1px #ff3643;
    /*border-radius: 5px;*/
    width:100px;
    /*background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(0,84,156)), color-stop(1, rgb(0,95,204)));*/
    margin-left:20px;
    text-align:center;
    cursor: pointer;
}
#pg2{display:none;padding:20px 0;
}

#myform h1 {font-size:24px;
    text-align:center;
}
#myform table {font-size:14px;
    border-collapse: collapse;
}
#myform h2 {
    margin-top:10px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #003366;
    background-color: #F5F5F5;
}

#myform table td{border: 1px solid #DDDDDD;padding-left:12px;}
#myform table td em{margin-right:10px;color: #EE6500;}
#myform table td .inputW{margin-left: 14px;    width: 90%}
#myform table td .inputW2{margin-left:14px;width:195px;height:21px;}
#myform table td .input-upload{margin-left:14px;width:100px;height:21px;}
#myform{padding:0px 0;margin:0px auto;width:100%;position: relative;}
#myform p{margin-bottom:20px;}
#myform input,#myform select{padding-left:3px;
    background-color: #f9f9f9;
    height:24px;
    border: 1px solid #CCCCCC;
}
#myform textarea {margin:12px 0;
    border: 1px solid #CCCCCC;
    background-color: #fff;padding:1%;
}

#myform .radios{margin:0px 4px 0 10px;
    border:0;
    font-weight: bold;vertical-align: middle;

}
#myform label {
    margin-right:10px;
    vertical-align: middle;
}
#myform #submitBtn{
    background-color: #F44336;
    padding: 5px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: solid 1px #E91E63;
    border-radius: 5px;
    width:60px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F44336), color-stop(1, #FF5722));
    margin:20px auto;
    display:block;
    text-align:center;
    cursor: pointer;
}
.apply-title { padding-bottom: 24px; text-align: center; color: #494a4a; font-weight: bold; font-size: 24px;
    margin-top: 30px; }
.apply-content { padding: 32px 45px 30px 45px; line-height: 30px; border: 1px solid #e3e3e3; font-size: 16px; }
.apply-content a {

    color: #d13a03;

}
.apply-h1{
    padding: 30px 0;
}
.chax_tit{
    line-height: 40px;
    padding: 15px 0;
}
.chax_con{
    width: 600px;
    margin: 0 auto;
}
.chax_con p{
    padding: 5px 0;
    line-height: 30px;
}
.chax_con em{
    width: 100px;
    padding-right: 30px;
    text-align: right;
    float: left;
}
.chax_con input{
    line-height: 30px;
    width: 300px;
    float: left;
    margin-right: 10px;
	border: 1px solid #a2a2a2;
}
.chax_con input[type="submit"]{
    float: none;
    background-color: #3bb3e0;
    padding: 5px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: solid 1px #FF9800;
    border-radius: 5px;
    width: 60px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E91E63), color-stop(1, #FF5722));
    margin: 20px auto;
    display: block;
    text-align: center;
    cursor: pointer;
}
.form-card{
    padding-top: 10px;
}
.card-img img{
    width: 200px;
    margin: 10px 10px 0;
}
.form-card-tips{
    color: #666;
    font-size: 12px;
    padding: 10px 12px;
}
.ysq_resutlt td{
    line-height: 30px;
    padding: 0 10px;
}
