body {
    width: 100%;
    background: #ffffff url(../images/zfxxgk_bg.png)no-repeat;
    background-size: 100% 100%;
}

.glgj {
    padding: 20px 30px;
    border: 1px solid #dfdede;
    width: 94%;
    margin: 0 auto;
}
.glgj::after{
    display: table;
    content: "";
    clear: both;
}
.glgj_zc {
    float: left;
    font-size: 16px;
    width: 10%;
}

.glgj .fr {
    float: right;
    color: #9d9d9d;
}


.glgj a {
    font-size: 14px;
    color: #9d9d9d;
}

.glgj li {
    float: right;
    width: 90%;
    line-height: 22px;
    /* margin: 13px 0; */
}

.zfxxgk-header,
.zfxxgk-container {
    width: 1200px;
    margin: 0 auto;
}

.zfxxgk-header {
    height: 365px;
}

.zfxxgk-header>a {
    font-size: 34px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin-top: 60px;
}

.zfxxgk-header>a img {
    margin-top: -3px;
    margin-right: 10px;
}

.zfxxgk-header>h1 {
    font-size: 90px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 40px;
}

.zfxxgk-container {
    height: 1340px;
    background: rgba(242, 242, 242, 1);
    overflow: hidden;
    padding: 0 35px;
}

.zfxxgk-search {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.search-warp {
    width: 500px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(45, 102, 165, 0.92);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 75px;
    font-size: 0;
}

.search-warp input {
    width: 90%;
    height: 100%;
    text-indent: 15px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
}

.search-warp button {
    width: 10%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.zfxxgk-search::after,
.zfxxgk-search::before {
    content: '';
    width: 240px;
    height: 2px;
    background: rgba(224, 224, 224, 1);
    position: absolute;
    top: 50%;
    margin-top: -1px;

}

.zfxxgk-search::after {
    left: 0;
}

.zfxxgk-search::before {
    right: 0;
}

.zfxxgk-warp {
    overflow: hidden;
}

.zfxxgk-left {
    float: left;
}

.nav-live .icon-img {
    display: none;
    margin: 16px 20px 0;
}

.nav-live .icon-img.on {
    display: block;
    float: left;
}

.zfxxgk-nav {
    width: 240px;
}

.zfxxgk-nav>li {
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    background: #ffffff;
}

.zfxxgk-nav>li:first-child {
    margin-top: 0;
}

.nav-gdgbm {
    display: none;
}

.zfxxgk-nav>.nav-live.on {
    background: rgba(45, 102, 165, 1);
}

.zfxxgk-nav>.nav-live.on span {
    color: #fff;
}

.zfxxgk-nav>li>a {
    display: block;
    width: 100%;
    height: 70px;
    position: relative;
}

.zfxxgk-nav>li span {
    display: inline-block;
    width: 134px;
    height: 50px;
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    color: #2D66A5;
    line-height: 30px;
    margin: 5px 0;
}

.zfxxgk-nav>li.nav-nr span,
.zfxxgk-nav>li.nav-nb span {
    width: 100px;
}

.zfxxgk-nav>li.nav-nr>a:before{
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/icon_hide.png)no-repeat center center;
    top: 50%;
    margin-top: -9px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}
.zfxxgk-nav>li.nav-zc>a:before{
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/icon_hide.png)no-repeat center center;
    top: 50%;
    margin-top: -9px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}
/* .zfxxgk-nav>li.nav-nb>a:before {
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/icon_hide.png)no-repeat center center;
    top: 50%;
    margin-top: -9px;
    position: absolute;
    right: 25px;
    cursor: pointer;
} */

.zfxxgk-nav>li.nav-nr.on>a:before{
    background: url(../images/icon_show.png)no-repeat center center;
}
.zfxxgk-nav>li.nav-zc.on>a:before{
    background: url(../images/icon_show.png)no-repeat center center;
}
/* .zfxxgk-nav>li.nav-nb.on>a:before {
    background: url(../images/icon_show.png)no-repeat center center;
} */

.zfxxgk-right {
    float: right;
    width: 860px;
    height: 1110px;
    background: #fff;
    overflow-y: auto
}

.zfxxgk-zn-tlt,
.zfxxgk-detail-tlt>h4,
.zfxxgk-qzqd-tlt,
.zfxxgk-jytadf-tlt>h4 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(45, 102, 165, 1);
    text-align: center;
    padding: 40px 20px;
}

.zfxxgk-detail-tlt>h4,
.zfxxgk-jytadf-tlt>h4 {
    padding: 40px 20px 30px;
}

.zfxxgk-detail-tlt>h4>p,
.zfxxgk-jytadf-tlt>h4>p {
    padding-bottom: 20px;
}

.zfxxgk-detail-tlt>p,
.zfxxgk-jytadf-tlt>p {
    text-align: center;
    padding-bottom: 20px;
}

.zfxxgk-detail-tlt>p>a,
.zfxxgk-jytadf-tlt>p>a {
    margin: 0 5px;
}

.zfxxgk-zn-cnet,
.zfxxgk-detail-cnet,
.zfxxgk-qzqd-cnet,
.zfxxgk-jytadf-cnet {
    padding: 0 40px;

}

.zfxxgk-jytadf-cnet>div>span {
    font-size: 20px;
    font-weight: 700;
    color: #2d66a5;
    margin-bottom: 10px;
    display: block;
}

.zfxxgk-qzqd-cnet {
    line-height: 24px;
}

.zfxxgk-zn-tlt{
    display:none;
}
.zfxxgk-zn-cnet * {
    display:none;
}
.ldpic{
    text-align:center;
}
#cnet {
    position: absolute;
    width: 100%;
}
#cnet *{
    width: 100% !important;
}
#cnet img{
    width: auto !important;
}
.cnet-warp {
    height: 980px;

}

#cnet-warp {
    position: relative;
    overflow: hidden;
}

.zfxxgk-footer {
    margin: 40px auto 20px;
    width: 1200px;
    height: 100px;
    font-size: 16px;
    line-height: 36px;
}

.zfxxgk-footer .left {
    width: 55%;
    float: left;
}

.zfxxgk-footer .middle {
    float: left;
    width: 28%;
}

.zfxxgk-footer .middle li {
    float: left;
    margin: 0 10px;
}

.zfxxgk-footer .middle li strong {
    display: block;
    text-align: center;
}

.zfxxgk-footer .right a:first-child {
    margin-right: 20px;
    float: left;
}

.cnet-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.scroll-bar {
    width: 10px;
    height: 980px;
    background: rgba(242, 242, 242, 1);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 125px;
}

.scroll-bar .scroll-btn {
    width: 10px;
    height: 80px !important;
    background: rgba(45, 102, 165, 1);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.zfxxgk-zd-cnet {
    padding: 30px 40px;
    font-size: 16px;
}

.zfxxgk-zd-cnet li {
    line-height: 50px;
}

.zfxxgk-zd-cnet li:first-child {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.zfxxgk-zd-cnet li span {
    margin-left: 20px;
}

.nav-click ul {
    height: 400px;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    display: none;
}

.nav-click.on ul {
    display: block;
}

.nav-nb ul {
    height: 200px
}

.nav-click ul::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.nav-click ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: #2d66a5;
}

.nav-click ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #EDEDED;
}

.nav-click ul li {
    line-height: 40px;
    text-indent: 8rem;
    position: relative;
}

.nav-click ul li.on,
.nav-click ul li:hover {
    background: rgba(230, 245, 255, 1);
}
.nav-nr .nr_cc{
    text-align: center;
    text-indent: 2rem;
}
.nav-nr .nr_cc:before{
       left: 1rem;
}

.nav-click ul li.on a {
    color: #2662a9;
}

.nav-click ul li:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 6rem;
    margin-top: -2px;
}

.nav-click ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-click ul li.on:before {
    background: #2864a7
}

.zfxxgk-nr-tlt,
.zfxxgk-nb-tlt,
.zfxxgk-gdgbm-tlt,
.zfxxgk-jgjj-tlt {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}

.zfxxgk-nr-tlt span,
.zfxxgk-nb-tlt span,
.zfxxgk-gdgbm-tlt span,
.zfxxgk-jgjj-tlt span {
    display: inline-block;
    padding: 0 15px;
    background: #2d66a5;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.zfbgs_item,
.szbm_item{
    display: none;
}
#zfxxgk_nb_div{
    float: right;
    width: 120px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    display: none;
}
#zfxxgk_nb_txt{
    display: block;
    width: 100%;
    height: 100%;
    background: #2d66a5;
    color: #fff;
    font-weight: normal;
}
#zfxxgk_nb_year{
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1px;
    display: none;
    width: 100%;
    max-height: 183px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    z-index: 99;
}
#zfxxgk_nb_year li{
    width: 100%;
    height:26px;
    line-height:26px;
    overflow:hidden;
    border-top: 1px solid #ccc;
}
#zfxxgk_nb_year li:first-child{
    border-top: none;
}
#zfxxgk_nb_year li:hover,
#zfxxgk_nb_year li.active{
    color: #fff;
    background: #2D66A5;
}
/* #zfxxgk_nb_div:hover #zfxxgk_nb_year{
    display: block;
} */

.zfxxgk-gdgbm-cnet {
    padding: 10px 30px;
    font-size: 16px;
    overflow: hidden;
}

.zfxxgk-gdgbm-cnet li {
    float: left;
    width: 33.33%;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
}

.zfxxgk-nr-cnet,
#search-result,
.zfxxgk-ldxx,
.zfxxgk-jgzn {
    padding: 20px 30px;
    font-size: 16px;
}

.zfxxgk-nr-cnet li,
#search-result li,
.zfxxgk-ldxx li,
.zfxxgk-jgzn li {
    line-height: 48px;
    overflow: hidden;
}

.zfxxgk-nr-cnet li a,
#search-result li a {
    float: left;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zfxxgk-nr-cnet li span,
#search-result li span {
    float: right;
    width: 15%;
    text-align: right;
}

.zfxxgk-nr-cnet li a.zfxxgk-more {
    width: 10%;
    margin: 20px auto 0;
    float: none;
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    background: rgba(224, 224, 224, 1);
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.metadata {
    padding: 20px;
    width: 100%;
    background-color: #F6F8FC;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
}

.metadata li {
    float: left;
    width: 33.33%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    line-height: 36px;
}

.zfxxgk-nb-cnet,
.zfbgs_nb {
    width: 100%;
    overflow: hidden;
    /* border-top: 1px solid #E0E0E0; */
    padding: 20px;
}

.zfxxgk-nb-cnet li,
.zfbgs_nb li {
    float: left;
    background: rgba(242, 242, 242, 1);
    width: 25%;
    height: 45px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    padding: 0 20px;
    border-right: 1px solid #E0E0E0;
    line-height: 45px;
    border-bottom: 1px solid #E0E0E0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zfxxgk-nb-cnet li:first-child,
.zfxxgk-nb-cnet li:nth-child(2),
.zfxxgk-nb-cnet li:nth-child(3),
.zfxxgk-nb-cnet li:nth-child(4),
.zfbgs_nb li:first-child,
.zfbgs_nb li:nth-child(2),
.zfbgs_nb li:nth-child(3),
.zfbgs_nb li:nth-child(4){
    border-top: 1px solid #E0E0E0;
}

.zfxxgk-nb-cnet li:nth-child(2n),
.zfbgs_nb li:nth-child(2n) {
    background: #ffffff;
}
.qxnb_item ul li{
    width: 25%;
}
.bm_details{
    display: none;
}

.jgjj-tlt {
    text-align: left !important;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    color: #2d66a5;
    font-size: 18px;
    position: relative;
    margin: 15px 0 0;
    z-index: 1;
}

.jgjj-tlt span {

    padding-left: 10px;

    border-left: 3px solid #2d66a5;

    display: inline-block;

    height: 20px;

    line-height: 20px;
}

.jgjj-list {
    padding: 0 30px;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 15px;
}

.jgjj-list li {
    float: left;
    width: 25%;
    line-height: 40px;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metadata-qzqd tr td.BlueTd {
    font-weight: bold;
    color: #245399;
    font-size: 16px;
    background-color: #f4f6f9;
    vertical-align: middle;
    text-align: right;
}

.metadata-qzqd tr td {
    padding: 10px;
    border: 1px solid #d2dce9;
}

.metadata-lct tr td {
    padding: 10px 20px;
    border: 1px solid #d2dce9;
    font-weight: bold;
    color: #245399;
    background-color: #f4f6f9;
    text-align: center;
    font-size: 16px;
}

.metadata-lct {
    width: 100%;
    margin-top: 20px
}



/**/

ul.zfxxgk-lzyj-tlt {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}

ul.zfxxgk-lzyj-tlt li {
    float: left;
    width: 14%;
    padding: 0 15px;
    /* background: #2d66a5; */
    /* color: #fff; */
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: none !important;
}

ul.zfxxgk-lzyj-tlt li:first-child{margin-right: 10px;}

.zfxxgk-lzyj-cnet.bd .active {
    display: block;
}

.zfxxgk-lzyj-tlt li.active {
    background: #2d66a5;
    color: #fff;
}

.zfxxgk-lzyj-cnet.bd div {
    display: none;
    padding: 20px 30px;
    font-size: 16px;
}


.zfxxgk-lzyj-cnet.bd div li{
        line-height: 48px;
    overflow: hidden;
}

.zfxxgk-lzyj-cnet.bd div li span {
    float: right;
}

.zfxxgk-lzyj-cnet.bd div .zfxxgk-more {
    margin: 20px auto 0;
    float: none;
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    background: rgba(224, 224, 224, 1);
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.bm_sdly::after{
    display: table;
    content: "";
    clear: both;
}
.bm_sdly{
    padding: 0 30px;
    margin-top: 20px;
}
.bm_sdly li{
    float: left;
    font-size: 16px;
    width: 25%;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-nr ul li:nth-child(15){
    text-align: center; 
}
.ggnyq_tlt,
.ggnyq_sdly{
    /* display: none; */
}



@media screen and (max-width:768px) {
    body {
        background: #ffffff url(../images/zfxxgk_bg.png)no-repeat;
        background-size: 100% 100%;
    }

    .zfxxgk-header,
    .zfxxgk-container {
        width: 100%;
        padding: 0;
        height: auto;
    }

    .zfxxgk-header>a {
        margin: 20px;
        display: block;
        font-size: 28px;
    }

    .zfxxgk-header>h1 {
        font-size: 50px
    }

    .zfxxgk-header {
        height: 200px
    }

    .zfxxgk-search::after,
    .zfxxgk-search::before {
        display: none;
    }

    .search-warp {
        width: 96%;
        margin: 40px auto;
    }

    .search-warp input {
        width: 85%;
    }

    .search-warp button {
        width: 15%;
    }

    .zfxxgk-search {
        height: 130px;
    }

    .zfxxgk-left {
        width: 100%;
    }

    .zfxxgk-nav>li {
        width: 50%;
        float: left;
        margin-top: 0;
    }

    .zfxxgk-nav>li:first-child {
        margin-top: 0;
    }

    .zfxxgk-nav {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .nav-live .icon-img {
        margin: 16px 5% 0 8%;
        width: 20%;
    }

    .zfxxgk-nav>li span {
        width: 65%;
        font-size: 18px;
    }

    .zfxxgk-nav>li.nav-nr>a:before,
    .zfxxgk-nav>li.nav-nb>a:before {
        right: 10px
    }

    .nav-click ul li {
        text-indent: 6rem;
        width: 50%;
        float: left;
    }

    .nav-click ul li:before {
        left: 4rem;
    }

    .nav-click ul {
        height: 80px;
        width: 200%;

    }

    .nav-nb ul {
        margin-left: -100%;
    }

    .nav-nr ul {
        margin-right: -100%;
    }

    .zfxxgk-right {
        width: 100%;
        height: auto;
    }

    .zfxxgk-zn-tlt,
    .zfxxgk-detail-tlt>h4 {
        font-size: 24px;
        padding: 10px;
    }

    .zfxxgk-zn-cnet,
    .zfxxgk-detail-cnet {
        padding: 0 10px
    }

    #cnet-warp {
        height: auto !important;
    }

    #cnet {
        position: static;
    }

    .scroll-bar {
        display: none;
    }

    .zfxxgk-footer {
        width: 100%;
        margin: 10px 0;
        padding: 0 10px;
        height: auto;
    }

    .zfxxgk-footer .left,
    .zfxxgk-footer .middle,
    .zfxxgk-footer .right {
        width: 100%;
        text-align: center;
    }

    .zfxxgk-footer .middle li {
        width: 33%;
        margin: 10px 0;
        text-align: center;
    }

    .zfxxgk-footer .right a:first-child {
        float: none;
    }

    .zfxxgk-zd-cnet {
        padding: 10px;
    }

    .zfxxgk-nr-cnet,
    #search-result,
    .zfxxgk-ldxx,
    .zfxxgk-jgzn {
        padding: 10px;
    }

    .zfxxgk-nr-cnet li a,
    #search-result li a {
        width: 70%
    }

    .zfxxgk-nr-cnet li span,
    #search-result li span {
        width: 30%
    }

    .metadata li {
        width: 100%
    }

    .metadata {
        padding: 10px;
    }

    .zfxxgk-detail-tlt>h4>p {
        font-size: 24px;
    }

    .zfxxgk-nb-cnet li {
        width: 100%;
    }

    .zfxxgk-nb-cnet {
        padding: 10px;
    }

    .jgjj-tlt {
        padding: 0 10px;
        margin: 10px 0 0;
    }

    .jgjj-list {
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .jgjj-list li {
        width: 33.33%
    }

    .zfxxgk-qzqd-tlt,
    .zfxxgk-jytadf-tlt>h4>p,
    .zfxxgk-jytadf-tlt>h4 {
        font-size: 24px;
        padding: 10px;
    }

    .zfxxgk-qzqd-cnet {
        padding: 0 10px
    }

    .metadata-qzqd {
        table-layout: fixed;
        box-sizing: border-box;
        width: 100%;
    }

    .metadata-qzqd tr td.BlueTd {
        width: 14%;
        text-align: center;
    }

    .metadata-qzqd tr td {
        padding: 5px;
    }

    .metadata-lct {
        margin-top: 10px;
    }

    .zfxxgk-zn-cnet,
    .zfxxgk-detail-cnet,
    .zfxxgk-qzqd-cnet,
    .zfxxgk-jytadf-cnet {
        padding: 0 10px;
    }

    .zfxxgk-detail-tlt>p,
    .zfxxgk-jytadf-tlt>p {
        padding: 0 10px;
    }

    .zfxxgk-gdgbm-cnet {
        padding: 10px;
    }

    .zfxxgk-gdgbm-cnet li {
        width: 50%;
    }

    .zfxxgk-nav>.nav-gdgbm {
        width: 100%;
        height: 70px;
    }

    .zfxxgk-nav .nav-gdgbm .icon-img {
        width: 10%;
    }

    .zfxxgk-nav .nav-gdgbm span {
        line-height: 50px;
        margin: 10px 0;
    }

    .nav-gdgbm .icon-img {
        margin: 16px 2.5% 0 4%;
    }
    .bm_sdly{
        padding: 0 10px;
        margin-top: 10px;
    }
    .bm_sdly li{
        width: 50%;
        font-size: 14px;
    }
}